@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&display=swap');

.Contact {
    text-align: center;
    background-color: #d9dbf1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contact-content {
    text-align: center;
    margin: auto;
    color: black;
    width: 40%;
    font-family: 'Source Serif Pro', serif;
}

.left {
    text-align: left;
    width: 100%;
    min-width: 500px;
    font-size: 125%;
    font-family: 'Source Serif Pro', serif;
}

#title {
    font-size: 250%;
    color: #7d84b2;
    font-family: 'Source Sans Pro', sans-serif;
}

.link {
    color: #7d84b2;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}