.Opening {
    text-align: center;
}

.Opening-header {
    background-color: #F8F8F8;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.intro {
    font-size: 500%;
    margin-bottom: 0;
}