@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&display=swap');

.Opening {
    text-align: center;
}

.Opening-header {
    background-color: #d9dbf1;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7d84b2;
    font-family: 'Source Sans Pro', sans-serif;
}

.intro {
    font-size: 500%;
    margin-bottom: 0;
}

.circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #dbf4a7;
    top: 8px;
    left: 50px;
    position: fixed;
}

.circle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #fef8ec;
    top: 88px;
    left: 50px;
    position: fixed;
}

.circle3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #8e9dcc;
    top: 168px;
    left: 50px;
    position: fixed;
}

.circle4 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #dbf4a7;
    bottom: 60px;
    right: 50px;
    position: fixed;
}

.circle5 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #fef8ec;
    bottom: 140px;
    right: 50px;
    position: fixed;
}

.circle6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 50px;
    background-color: #8e9dcc;
    bottom: 220px;
    right: 50px;
    position: fixed;
}