@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&display=swap');

.Opening {
    text-align: center;
}

.Opening-header {
    background-color: #d9dbf1;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #7d84b2;
    font-family: 'Source Sans Pro', sans-serif;
}

.intro {
    font-size: 500%;
    margin-bottom: 0;
}